@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #121212; /* Preto fosco */
    --primary-color: #ffffff; /* Texto branco */
    --secondary-color: #ffffff; /* Destaque branco */
    --terciary-color: #432947; /* Cor terciária */
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--hd-color);
    text-align: center;
    padding: 1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* Branco suave */
}

h1 {
    font-size: 2rem; /* Corrigido de "2rm" para "2rem" */
    color: var(--primary-color);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--primary-color); /* Texto branco */
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    padding: 0.5rem 0; /* Espaçamento vertical */
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Espessura do sublinhado */
    background: var(--secondary-color); /* Destaque branco */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1); /* Anima o sublinhado */
}

nav a:hover {
    color: var(--secondary-color); /* Destaque em branco ao passar o mouse */
}

.graficos-container {
    margin: 5rem;
}

.grafico {
    margin-top: 3rem;
}

.graficos-container__texto {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--secondary-color) solid 2px;
}

span {
    font-weight: bold;
    color: var(--secondary-color); /* Destaque em branco */
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hd-color);
    color: var(--primary-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.3); /* Branco suave */
}
